// Video List Styling 

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.video-list {
    padding: 0 1rem 0.5rem;
    @include tablet {
        padding: 0 2.25rem 0.5rem;
    }
    @include desktop {
        padding: 2rem 0 3rem 1.5rem;
    }
    &__heading {
        padding-bottom: 1rem;
        @include mobile-field-label;
        @include tablet {
            padding-bottom: 1.5rem;
        }
    }
}

    