// Comments Section Styling 

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.comments-section {
    padding: 0 1rem 1rem;
    @include tablet {
        padding: 0.5rem 2.25rem 1.5rem;
    }
    @include desktop {
        padding: 1rem 0 1.5rem;
    }
    &__comments {
        @include bottom-divider;
        @include desktop {
            border: none;
        }
    }

}

    