// Comments Form Styling 

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.comments-form {
    display: flex;
    @include desktop {
        padding-right: 1.5rem;
    } 
    &__pfp {
        @include mobile-pfp-shape;
        object-fit: cover;
        object-position: 20% 50%;
        margin-top: 2.5rem;
        @include tablet {
            @include td-pfp-shape; 
            margin-top: 2.85rem;
        }
    }
    &__user-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 0 1rem 1rem;
        @include tablet {
            flex-direction: row;
            padding: 1.5rem 0 1.5rem 1.5rem;
        }
    }
    &__field-container {
        @include tablet {
            width: 100%;
            padding-right: 1.5rem;
        }
    }
    &__field-label {
        @include mobile-field-label;
    }   
    &__field {
        padding: 0.25rem 0 1rem;
        @include tablet {
            padding: 0.25rem 0 0;
        }
    }
    &__comment-textarea {
        outline: none;
        box-sizing: border-box;
        height: 6.5rem;
        width: 100%;
        background: $color-field-background;
        border: 1px solid $color-divider-and-outline;
        border-radius: 4px; 
        @include field-text;
        resize: none;
        padding: 0.75rem 0 0 0.75rem;
        &::placeholder {
            @include field-text;
        }
        &:focus {
            @include field-active-state;
        }
        @include tablet {
            height: 2.5rem;
            padding: 0.65rem 0 0 1rem;
        }
    }
    &__button-container {
        position: relative;
        @include tablet {
            align-self: flex-end;
            padding-bottom: 0.35rem;
        }
    }
    &__button {
        width: 100%;
        height: 2.5rem;
        @include button;
        @include button-text;
        @include tablet {
            width: 9.375rem;
        }
    }
    &__comment-icon {
        position: absolute;
        top: 0.75rem;
        left: 0.6rem;
        height: 1rem;
    }
}