/* Mixins */

/* Screen Sizes */
@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}
    
@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

/* Auto Margins for Desktop Screen Sizes */
@mixin desktop-auto-margin {
  width: 63.75rem;
  margin: auto;
}

/* Common Styling for Form Fields */
@mixin form-fields {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background: $color-field-background;
  border: 1px solid $color-divider-and-outline;
  border-radius: 4px; 
  @include field-text;
  &::placeholder {
    @include field-text;
  }
  &:focus {
    @include field-active-state;
  }
}

/* Mobile Profile Picture Icon Shape */
@mixin mobile-pfp-shape {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}

/* Tablet and Desktop Profile Picture Icon Shape */
@mixin td-pfp-shape {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

/* Dividers */
@mixin top-divider {
  border-top: 0.125rem solid $color-divider-and-outline;
}

@mixin bottom-divider {
  border-bottom: 0.125rem solid $color-divider-and-outline;
}

@mixin desktop-vertical-divider {
  border-right: 0.125rem solid $color-divider-and-outline;
}

/* Common Styling Used Across All Buttons */
@mixin button {
  border-radius: 4px;
  border: none;
  background-color: $color-primary-cta;
  cursor: pointer;
  &:hover {
    background-color: $color-cta-hover;
}
}

/* Styling for fields in active state */
@mixin field-active-state {
  border: 2px solid $color-primary-cta;
}

/* Text Style for Text Entered in Form Fields */
@mixin field-text {
  font-family: $base-font;
  color: $color-primary-dark;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

/* Button Text */
@mixin button-text {
  font-family: $base-font;
  color: $color-primary-light;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
}

/* Cancel Link */
@mixin cancel-link {
  color: $color-primary-cta;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
}

/* General Text Styles  */
@mixin video-data-text {
  color: $color-text-secondary;
  font-size: 0.85rem;
  line-height: 1.25rem;
  font-weight: 400;
}

@mixin video-channel-name {
  font-size: 0.95rem;
  line-height: 1.25rem;
  font-weight: 700;
}

/* Mobile Text Styles  */
@mixin mobile-body-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin mobile-header-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin mobile-field-label {
  color: $color-text-secondary;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 600;
}

@mixin mobile-posted-name {
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: 700;
}

@mixin mobile-posted-datestamp {
  color: $color-text-secondary;
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin mobile-next-video-title {
  font-size: 0.80rem;
  line-height: 1.125rem;
  font-weight: 700;
}

@mixin mobile-next-video-channel {
  font-size: 0.80rem;
  line-height: 1.125rem;
  font-weight: 400;
}

/* Tablet and Desktop Text Styles  */
@mixin td-body-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

@mixin td-header-text {
  font-size: 2.0625rem;
  line-height: 2.75rem;
  font-weight: 700;
}

@mixin td-next-video-title {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 700;
}

@mixin td-next-video-channel {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
}