/* Mixins */

/* Screen Sizes */
@mixin tablet {
    @media screen and (min-width: $tablet-width) {
      @content;
      }
  }
    
  @mixin desktop {
    @media screen and (min-width: $desktop-width) {
       @content;
    }
  }
  
  /* Auto Margins for Desktop Screen Sizes */
  @mixin desktop-auto-margin {
    width: 63.75rem;
    margin: auto;
  }

/* Profile Picture Icon Shape */
@mixin pfp-shape {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  /* Text Style for Text Entered in Form Fields */
@mixin field-text {
    font-family: $base-font;
    color: $color-primary-dark;
    font-size: 0.9rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  
  @mixin mobile-button-text {
    font-family: $base-font;
    color: $color-primary-light;
    font-size: 0.8rem;
    line-height: 1.125rem;
    font-weight: 400;
  }