/* Variables */

/* Fonts */
$base-font: "Avenir";

/* Primary Colors */
$color-primary-dark: #323232;
$color-primary-cta: #0095FF;
$color-text-secondary: #AFAFAF;
$color-primary-light: #FFFFFF;

/* Secondary Colors */
$color-video-player-comps: #000000;
$color-cta-hover: #0065AD;
$color-divider-and-outline: #E1E1E1;
$color-field-background: #FAFAFA;

/* Screen Sizes */
$tablet-width: 768px;
$desktop-width: 1280px;
