// Video Upload Page Styling 

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.video-upload {
    @include top-divider;
    padding: 2rem 1rem;
    @include tablet {
        padding: 2.5rem 2.25rem 2.25rem;
    }
    @include desktop {
        padding: 2.5rem 0 25rem;
    }
    &__desktop-container {
        @include desktop {
            @include desktop-auto-margin;
        }
    }
    &__heading {
        padding-bottom: 1rem; 
        @include mobile-header-text;
        @include tablet {
            @include bottom-divider;
            @include td-header-text;
            padding-bottom: 1.5rem; 
        }
    }
    &__desktop-fields-container {
        @include desktop {
            display: flex;
        }
    }
    &__thumbnail-container {
        @include desktop {
            width: 56%;
            padding: 1.5rem 1.5rem 0.5rem 0;
        }
    }
    &__label-thumbnail {
        @include mobile-field-label;
        padding-top: 0.5rem;
        @include tablet {
            padding-top: 1.5rem;
        }
        @include desktop {
            padding: 0;
        }
    }
    &__thumbnail {
        width: 100%;
        border-radius: 4px;
        margin: 0.25rem 0 1rem;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 100%;
        }
    }
    &__textarea-fields-container {
        @include desktop {
            width: 100%;
            padding-top: 1.5rem;
        }
    }
    &__title-field-container {
        padding-bottom: 1rem;
    }
    &__label-title {
        @include mobile-field-label;
    }
    &__title-textarea {
        @include form-fields;
        height: 2.5rem;
        resize: none;
        padding: 0.75rem 0 0 0.75rem;
        margin-top: 0.25rem;
    }
    &__description-field-container {
        padding-bottom: 1.5rem;
    }
    &__label-description {
        @include mobile-field-label;
    }
    &__description-textarea {
        @include form-fields;
        height: 6.5rem;
        resize: none;
        padding: 0.75rem 0 0 0.75rem;
        margin-top: 0.25rem;
    }
    &__links-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
            flex-direction: row-reverse;
            @include top-divider;
            padding-top: 1.5rem;
        }
    }
    &__publish-button-container {
        width: 100%;
        position: relative;
        @include tablet {
            width: 10rem;
        }
    }
    &__publish-button {
        width: 100%;
        height: 2.5rem;
        @include button;
        @include button-text;
        @include tablet {
            width: 10rem;
        }
    }
    &__publish-icon {
        position: absolute;
        top: 0.55rem;
        left: 0.6rem;
        height: 1.25rem;
    }
    &__cancel-link {
        padding-top: 2rem;
        text-decoration: none;
        color: $color-primary-cta;
        font-size: 0.75rem;
        line-height: 1.25rem;
        font-weight: 400;
        @include tablet {
            margin-left: auto;
            padding: 0 4rem 0 0;
        }
    }
}