// Video Upload Page Styling 

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.video-upload {
    @include top-divider;
    padding: 2rem 1rem;
    @include tablet {
        padding: 2.5rem 2.25rem 2.25rem;
    }
    @include desktop {
        padding: 2.5rem 0 25rem;
    }
    &__desktop-container {
        @include desktop {
            @include desktop-auto-margin;
        }
    }
    &__heading {
        padding-bottom: 1rem; 
        @include mobile-header-text;
        @include tablet {
            @include bottom-divider;
            @include td-header-text;
            padding-bottom: 1.5rem; 
        }
    }
}