// Search Bar Styling 

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    @include tablet {
        width: 16rem;
        margin-left: auto;
        padding-right: 0.25rem;
    }
    &__form {
        width: 100%;
        position: relative;
        padding-right: 1rem;
    }
    &__input {
        @include form-fields;
        height: 2.5rem;
        padding-left: 2.5rem;
    }
    &__icon {
        position: absolute;
        top: 0.6rem;
        left: 0.75rem;
    }
    &__pfp-mobile {
        @include mobile-pfp-shape;
        object-fit: cover;
        object-position: 20% 50%;
        @include tablet {
            display: none;
        }
    }
}