// Header Styling 

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.desktop-container {
    @include desktop {
        @include desktop-auto-margin;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    @include tablet {
        flex-direction: row;
        padding: 0 2.25rem;
    }
    @include desktop {
        width: 100%;
        padding: 0;
    }
    &__logo {
        height: 1.5rem;
    }
    &__pfp-td {
        display: none;
        @include tablet {
            display: inline-block;
            @include td-pfp-shape;
            object-fit: cover;
            object-position: 20% 50%;
        }
    }
}


