// Video Player Styling 

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.video-player {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    @include tablet {
        padding: 0;
    }
}

video {
    background-color: $color-video-player-comps;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @include tablet {
        position: relative;
        max-height: 27rem;
    }
    @include desktop {
        max-height: 34rem;
    }
}