/* Comments Styling */

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.comments {
    &__desktop-container {
        @include desktop {
            @include desktop-auto-margin; 
        }
    }
    &__container {
        display: flex;
        padding: 1rem 0;
        @include divider; 
        @include tablet {
            padding: 1.5rem 0;    
        }
        @include desktop {
            margin: 0 15.5rem;                          
        }
    }
    &__pfp {
        @include mobile-pfp-shape;
        box-sizing: border-box;
        background-color: $color-divider-and-outline;
        padding-right: 2.25rem;
    }
    &__content {
        width: 100%;
        padding-left: 1rem;
    }
    &__top-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 0 0.75rem;
    }
    &__name {
        @include mobile-posted-name;
    }
    &__date {
        @include mobile-posted-datestamp;
    }
    &__comment {
        @include mobile-body-text;
        @include tablet {
            @include td-body-text;
        }
    }
}