/* Comments Styling */

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.comments {
    display: flex;
    padding: 1rem 0;
    @include top-divider; 
    @include tablet {
        padding: 1.5rem 0;    
    }
    @include desktop {
        padding-right: 1.5rem;
    }

    &__pfp {
        @include mobile-pfp-shape;
        box-sizing: border-box;
        background-color: $color-divider-and-outline;
        padding-right: 2.25rem;
        @include tablet {
            @include td-pfp-shape;
        }
    }
    &__content {
        width: 100%;
        padding-left: 1.5rem;
    }
    &__top-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 0 0.75rem;
    }
    &__name {
        @include mobile-posted-name;
    }
    &__date {
        @include mobile-posted-datestamp;
    }
    &__comment {
        @include mobile-body-text;
        @include tablet {
            @include td-body-text;
        }
    }
}