// Video Details Styling 

@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.video-details {
    padding: 1rem;
    @include tablet {
        padding: 1.5rem 2.25rem 2.25rem;
    }
    @include desktop {
        padding: 2.25rem 0;
    }

    &__title {
        padding-bottom: 1rem;
        @include bottom-divider;
        @include tablet {
            border: none;
            @include td-header-text;
            padding: 0;
        }
        @include desktop {
            padding-right: 1.5rem;
        }
    }

    &__data {
        display: flex;
        padding: 1rem 0;
        @include tablet {
            justify-content: space-between;
            padding: 1rem 0 0.75rem 0;
        }
        @include desktop {
            padding: 1rem 1.5rem 1rem 0;
        }
        &--left {
            width: 50%;
            @include tablet {
                display: flex;
            }
        }
        &--right {
            @include tablet {
                display: flex;
            }
        }
    }

    &__channel {
        padding-bottom: 1rem;
        @include video-channel-name;
        @include tablet {
            padding: 0 1.5rem 0 0; 
        }
    }

    &__data-text {
        @include video-data-text;
    }

    &__views {
        display: flex;
        padding-bottom: 1rem;
        @include tablet {
            padding: 0 1.5rem 0 0; 
        }
    }

    &__icon {
        padding-right: 0.5rem;
    }

    &__likes {
        display: flex;
    }

    &__description {
        padding-top: 1rem;
        @include top-divider;
        @include mobile-body-text;
        @include tablet {
            @include td-body-text;
            padding-top: 1.5rem;
        }
        @include desktop {
            padding-right: 1.5rem;
        }
    }
}